# Core AI & Vision
tensorflow==2.16.1
mediapipe>=0.10.13          # Mendukung Python 3.12+
protobuf>=3.20.0,<4.0.0   # Kompatibel dengan mediapipe 0.10.9
opencv-python>=4.8.0
numpy>=1.23.0

# Backend & Integrasi Database
firebase-admin>=6.2.0
fastapi>=0.103.0
uvicorn>=0.23.2

# Konfigurasi environment
python-dotenv>=1.0.0

# Jika menggunakan Raspberry Pi murni (Opsional, menggantikan tensorflow):
# tflite-runtime>=2.14.0
